# IntelliJ
*.iml
*.ipr
*.iws
.idea
.fastRequest

# Eclipse
.classpath
.project
.externalToolBuilders/
.metadata
.settings

# Maven
target
release.properties

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

# 放置上传本地的settings文件
settings.xml

### VS Code ###
.vscode/

# 日志文件
logs

doc/db/.back_Qing


### Local file
**/**-local.yml
**/**-local.yaml
**/**-local.properties
**-local.yml
**-local.yaml
**-local.properties

**.local
### .env 配置文件
local.env

# 本地上传文件测试
/docker/redis/data/
/codegen/
/qing-config-git/src/main/resources/config/zhangli-service-provider/
/charts/node_modules
