# Project
/docker/minio/minio/
/docker/data/*

# Eclipse
.classpath
.project
.externalToolBuilders/
.metadata
.settings

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# Maven
target/
release.properties

HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea


### VS Code ###
.vscode/
/logs/

doc/db/.back_Qing


### Local file
**/application-local.yml
**/application-local.yaml
**/application-local.properties
application-local.yml
application-local.yaml
application-local.properties

**.local
### .env 配置文件
local.env

/qing-codegen-plugin/qing-codegen-test/src/main/java/cn/chenyunlong/codegen/test/domain/user/gen/
/.jpb/
