<!--
  ~ Copyright (c) 2019-2022 YunLong Chen
  ~ Project Qing is licensed under Mulan PSL v2.
  ~ You can use this software according to the terms and conditions of the Mulan PSL v2.
  ~ You may obtain a copy of Mulan PSL v2 at:
  ~          http://license.coscl.org.cn/MulanPSL2
  ~ THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND,
  ~ EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT,
  ~ MERCHANTABILITY OR FIT FOR A PARTICULAR PURPOSE.
  ~ See the Mulan PSL v2 for more details.
  ~
  -->

<!-- 一般情况 maven 的通用 settings.xml 在 .m2 文件夹下, 项目内 settings.xml 也可以进行设置，优先级更高 -->
<settings>
    <!-- omitted xml -->
    <!-- 请妥善保管好您的配置，不要随意分享给他人 -->
    <servers>
        <server>
            <id>stanic-zhangli-stanic</id>
            <username>1576302867@qq.com</username>
            <password>4745701816@Long</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>nexus-tencentyun</id>
            <!-- 此配置避免了本仓库制品的拉取流量被切换到腾讯云镜像源，保证您在使用镜像加速的同时可以从本仓库拉取制品 -->
            <mirrorOf>!stanic-zhangli-stanic</mirrorOf>
            <name>Nexus tencentyun</name>
            <url>http://mirrors.cloud.tencent.com/nexus/repository/maven-public/</url>
        </mirror>
    </mirrors>
</settings>
