<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>对不起，您要找的页面被俺给弄丢了(＞人＜)</title>
    <meta name="keywords" content="在线动画,动漫下载">
    <meta name="description" content="AGE动漫专注于资源收集整理 海量的有效的高质量的动漫资源下载 动漫百度网盘下载">
    <link rel="stylesheet" th:href="@{/css/404.css}">
</head>
<body>
<header class="panel-cover" th:style="'background-image: url(/img/404bg.jpg)'">
    <div class="panel-main">
        <div class="panel-main__inner panel-inverted">
            <div class="panel-main__content">
                <a th:href="@{/index.html}">
                    <img alt="AGEFANS LOGO"
                         class="panel-cover__logo logo"
                         th:src="@{/img/logo.jpg}"
                         src=""
                         title="AGE动漫" width="150"/></a>
                <hr class="panel-cover__divider">
                <p class="panel-cover__description">对不起，您要找的页面被在下搞失了(＞人＜)</p>
                <hr class="panel-cover__divider panel-cover__divider--secondary">
                <p class="footer">陈云龙的个人博客 © 2020 - 2021 bangumi.chenyunlong.cn</p>
            </div>
        </div>
        <div class="panel-cover--overlay cover-slate"></div>
    </div>
</header>
</body>
</html>