<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chenyunlong.zhangli.mapper.AnimeRecommendMapper">


    <resultMap id="BaseResultMap" type="chenyunlong.zhangli.entities.AnimeRecommendEntity">
        <id column="id" property="id"/>
        <result column="aid" property="aid"/>
        <result column="reason" property="reason"/>
        <result column="date" property="date"/>
        <result column="order_no" property="orderNo"/>
    </resultMap>

    <select id="getAllVersions" resultMap="BaseResultMap">
        select vid, code, name, description
        from anime_version
    </select>
    <insert id="addVersionInfo" parameterType="chenyunlong.zhangli.entities.AnimeRecommendEntity">
        insert into anime_recommend (aid, resaon, date)
        values (#{anime.aid}, #{anime.reason}, #{anime.date})
    </insert>
</mapper>