<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chenyunlong.zhangli.mapper.AnimeEpisodeMapper">
    <resultMap id="BaseResultMap" type="chenyunlong.zhangli.model.entities.anime.AnimeEpisodeEntity">
        <id column="id" property="id"/>
        <result column="anime_id" property="animeId"/>
        <result column="playlist_id" property="playlistId"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result column="uploader_name" property="uploaderName"/>
        <result column="uploader_id" property="uploaderId"/>
        <result column="upload_time" property="uploadTime"/>
        <result column="url1" property="url1"/>
        <result column="url3" property="url3"/>
        <result column="url2" property="url2"/>
        <result column="order_no" property="orderNo"/>
    </resultMap>
</mapper>
