<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chenyunlong.zhangli.mapper.AnimeInfoMapper">

    <resultMap id="BaseResultMap" type="chenyunlong.zhangli.entities.anime.AnimeInfo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="district" property="district"/>
        <result column="cover_url" property="coverUrl"/>
        <result column="type" property="type"/>
        <result column="instruction" property="instruction"/>
        <result column="other_name" property="otherName"/>
        <result column="author" property="author"/>
        <result column="company" property="company"/>
        <result column="premiere_date" property="premiereDate"/>
        <result column="play_status" property="playStatus"/>
        <result column="plot_type" property="plotType"/>
        <result column="tags" property="tags"/>
        <result column="official_website" property="officialWebsite"/>
        <result column="play_heat" property="playHeat"/>
        <result column="orignal_name" property="orignalName"/>
    </resultMap>
    <update id="update">
        update anime_info
        set name = #{name}
        where anime_info.id = #{id}
    </update>

    <delete id="deleteByAnimeId" parameterType="long">
        delete
        from `anime_info`
        where id = #{animeId}
    </delete>

    <select id="listAnimes" resultMap="BaseResultMap">
        SELECT `id`,
               `name`,
               `district`,
               `cover_url`,
               `type`,
               `instruction`,
               `other_name`,
               `author`,
               `company`,
               `premiere_date`,
               `play_status`,
               `plot_type`,
               `tags`,
               `official_website`,
               `play_heat`,
               `orignal_name`
        FROM anime_info
        limit #{page.offset} ,#{page.pageSize}
    </select>

    <select id="selectAnimationDetail" resultMap="BaseResultMap">
        SELECT `id`,
               `name`,
               `district`,
               `cover_url`,
               `type`,
               `instruction`,
               `other_name`,
               `author`,
               `company`,
               `premiere_date`,
               `play_status`,
               `plot_type`,
               `tags`,
               `official_website`,
               `play_heat`,
               `orignal_name`
        FROM anime_info
        where id = #{movieId}
    </select>

    <select id="count" resultType="long">
        select count(*)
        FROM anime_info;
    </select>
    <select id="selectAnimationW" resultMap="BaseResultMap">
        SELECT `id`,
        `name`,
        `district`,
        `cover_url`,
        `type`,
        `instruction`,
        `other_name`,
        `author`,
        `company`,
        `premiere_date`,
        `play_status`,
        `plot_type`,
        `tags`,
        `official_website`,
        `play_heat`,
        `orignal_name`
        FROM anime_info
        <where>
            <if test="anime.keyword!=null and anime.keyword!=''">
                anime_info.name like concat('%', #{anime.keyword}, '%') or other_name like concat('%',
                #{anime.keyword},'%')
            </if>
            <if test="anime.name!=null and anime.name!=''">
                and name like concat('%', #{anime.name}, '%')
            </if>
        </where>
        limit #{offset},#{pageSize}
    </select>
    <select id="countByNameLike" resultType="java.lang.Long">
        select COUNT(name)
        from anime_info
        where name like concat('%', #{name}, '%')
    </select>
    <select id="getUpdateAnimeCount" resultType="java.lang.Long">
        SELECT count(1)
        FROM anime_info
        where play_status = '连载'
    </select>
    <select id="selectAnimeByUpdateTime" resultMap="BaseResultMap">
        SELECT `id`,
               `name`,
               `district`,
               `cover_url`,
               `type`,
               `instruction`,
               `other_name`,
               `author`,
               `company`,
               `premiere_date`,
               `play_status`,
               `plot_type`,
               `tags`,
               `official_website`,
               `play_heat`,
               `orignal_name`
        FROM anime_info
        where play_status = '连载'
        order by premiere_date desc
        limit #{pageRequest.offset} ,#{pageRequest.pageSize}

    </select>

    <insert id="insert">
        INSERT INTO `zhangli`.`anime_info`
        (`id`,
         `name`,
         `district`,
         `cover_url`,
         `type`,
         `instruction`,
         `other_name`,
         `author`,
         `company`,
         `premiere_date`,
         `play_status`,
         `plot_type`,
         `tags`,
         `official_website`,
         `play_heat`,
         `orignal_name`)
        values (#{anime.id}, #{anime.name}, #{anime.district}, #{anime.coverUrl}, #{anime.type},
                #{anime.instruction}, #{anime.otherName}, #{anime.author}, #{anime.company}, #{anime.premiereDate},
                #{anime.playStatus}, #{anime.plotType}, #{anime.tags}, #{anime.officialWebsite}, #{anime.playHeat},
                #{anime.orignalName})

    </insert>
</mapper>