<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chenyunlong.zhangli.mapper.DistrictMapper">


    <resultMap id="BaseResultMap" type="chenyunlong.zhangli.model.entities.District">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="description"/>
        <result column="description" property="description"/>
    </resultMap>

    <select id="getDistrictInfo" resultMap="BaseResultMap">
        select id, code, name, description
        from anime_district
    </select>
    <insert id="addDistrictInfo" parameterType="chenyunlong.zhangli.model.entities.District">
        insert into anime_district (name, code, description)
        values ('123', 123, 123)
    </insert>
</mapper>
