<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chenyunlong.zhangli.mapper.VersionMapper">


    <resultMap id="BaseResultMap" type="chenyunlong.zhangli.entities.Version">
        <id column="vid" property="vid"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="description" property="description"/>
    </resultMap>

    <select id="getAllVersions" resultMap="BaseResultMap">
        select vid, code, name, description
        from anime_version
    </select>
    <insert id="addVersionInfo" parameterType="chenyunlong.zhangli.entities.Version">
        insert into anime_district (name, code, description)
        values ('123', 123, 123)
    </insert>
</mapper>