<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.chenyunlong.natcross.mapper.ListenPortMapper">
    <!--   映射关系 -->
    <resultMap id="BaseResult" type="cn.chenyunlong.natcross.entity.ListenPort">
        <result column="listen_port" property="listenPort"/>
        <result column="port_describe" property="portDescribe"/>
        <result column="dest_ip" property="destIp"/>
        <result column="dest_port" property="destPort"/>
        <result column="on_start" property="onStart"/>
        <result column="port_type" property="portType"/>
        <result column="cert_path" property="certPath"/>
        <result column="cert_password" property="certPassword"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modify" property="gmtModify"/>
    </resultMap>
    <!--   统计所有的监听端口信息 -->
    <select id="count" resultType="int">
        select
        count(*)
        FROM
        `zhangli`.`t_listen_port`
    </select>
    <!--查询所有的监听端口信息-->
    <select id="list" resultMap="BaseResult">
        SELECT
        `listen_port`,
        `port_describe`,
        `dest_ip`,
        `dest_port`,
        `on_start`,
        `port_type`,
        `cert_path`,
        `cert_password`,
        `gmt_create`,
        `gmt_modify`
        FROM
        `zhangli`.`t_listen_port`
    </select>

    <insert id="save" parameterType="cn.chenyunlong.natcross.entity.ListenPort">
        INSERT INTO `zhangli`.`t_listen_port` (
          `listen_port`,
          `port_describe`,
          `dest_ip`,
          `dest_port`,
          `on_start`,
          `port_type`,
          `cert_path`,
          `cert_password`,
          `gmt_create`,
          `gmt_modify`
        )
        VALUES
          (
            #{listenPort},
            #{portDescribe},
            #{destIp},
            #{destPort},
            #{onStart},
            #{portType},
            #{certPath},
            #{certPassword},
            #{gmtCreate},
            #{gmtModify}
          );

    </insert>

    <select id="getByListenPort" parameterType="int" resultMap="BaseResult">
        SELECT
          `listen_port`,
          `port_describe`,
          `dest_ip`,
          `dest_port`,
          `on_start`,
          `port_type`,
          `cert_path`,
          `cert_password`,
          `gmt_create`,
          `gmt_modify`
        FROM
          `zhangli`.`t_listen_port`
        WHERE `listen_port`=#{listenPort}
    </select>

    <delete id="removeById" parameterType="int">
        DELETE FROM t_listen_port WHERE listen_port =#{listenPort}
    </delete>
</mapper>