.content-wrapper {
    background-color: rgb(33, 37, 41);
    margin: 1rem 0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    color: white;

    .div-left {
        display: flex;
        flex-direction: column;
        width: 256px;

        .cover {
            width: 100%;
            height: 100%;
            align-items: center;
            text-align: center;

            img {
                width: 256px;
            }
        }

        .summary {
            height: 2rem;
            justify-content: space-between;
            display: flex !important;
            background-color: #202020;
            flex: 1;
            width: 100%;
            margin: 1rem 0;

            .summary-item {
                border: 1px solid rgba(255, 255, 255, 0.1);
                padding: 8px 0;
                flex: 1 1 auto !important;
                text-align: center;

                .fire {
                    color: red;
                }
            }
        }

        .detail-info {
            background-color: rgb(32, 32, 32);
            border: 1px solid rgba(255, 255, 255, 0.1);
            padding: 0 1rem;

            .detail-info-title {
                color: red;
                margin: 1rem 0;
            }

            .detail-info-content {
                color: #ffffff;

                .detail-info-content-item {
                    height: 1rem;
                    margin-bottom: 1rem;

                    .detail-info-content-item-tag {
                        color: gray;
                        display: inline-block;
                        width: 80px;
                    }

                    .detail-info-content-item-value {
                        display: inline-block;
                        color: whitesmoke;
                    }
                }
            }
        }
    }

    .div-right {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;

        .description {
            padding-bottom: 1rem;

            .detail-info-name {
                h2 {
                    color: #d0e0f0;
                }
            }

            .detail-info-divider {
                width: 100%;
                color: rgba(25, 25, 25, 0.5);
            }
        }

        .playlist-wrapper {
            width: 100%;

            .playlist-header {
                width: 100%;
                padding-top: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                font-size: 1rem;

                .playlist-title-icon {
                    color: #dc3545;
                }

                .playlist-title {
                    margin-left: 0.5rem;
                    color: #dc3545;
                }

                .playlist-notice {
                    color: darkgray;
                }
            }
        }

        .playlist-content {
            width: 100%;

            .playlist-content-tab {
                width: 100%;
                display: flex;

                .playlist-content-tab-item {
                    background-color: rgb(33, 37, 41);
                    line-height: 1rem !important;
                    text-align: center;
                    padding: 0.5rem;
                    color: rgba(255, 255, 255, 0.55);
                    border-radius: 10px 10px 0 0;
                    width: 100px;
                    cursor: pointer;

                    &:hover {
                        color: white;
                    }

                    .playlist-title-icon {
                        color: darkred;
                    }
                }

                .selected {
                    background-color: rgb(55, 55, 56);
                }
            }

            .playlist-content-content {
                width: 100%;
                min-height: 240px;
                max-height: 500px;
                background-color: rgb(55, 55, 56);
                padding: 1rem;

                .playlist-content-playlist-episode-item {
                    display: inline-block;
                    border: 1px solid gray;
                    border-radius: 6px;
                    height: 40px;
                    width: 11.111%;
                    line-height: 40px;
                    text-align: center;
                    overflow: hidden;
                    cursor: pointer;
                    margin-bottom: 2px;
                    padding: 0 2px;

                    &:hover {
                        background-color: #dc3545;
                    }

                    span {
                        display: inline-block;
                        color: white;
                    }
                }
            }
        }
    }
}
