
.notice {
    text-align: center;

    a {
        cursor: pointer;
    }
}

.content-wrapper {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    margin: 10px 0;

    .content-panel {
        width: 70%;
        margin-right: 5px;

        .update {
            width: 100%;
            margin-right: 5px;

            .update-header {
                width: 100%;
                line-height: 2rem;
                height: 2rem;
                display: flex;
                font-size: 1rem;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 1px solid gray;
                align-items: center;

                .update-header-more {
                    padding: 0 10px;
                    display: inline-block;
                    font-size: 0.8rem;
                    height: 1rem;
                    line-height: 1rem;
                    cursor: pointer;
                }
            }

            .update-body {
                background-color: #202020;

                ul {
                    width: 100%;
                    margin: 10px 0;

                    li {
                        display: inline-block;
                        width: 20%;
                        overflow: hidden;
                        margin: 5px 0;
                        cursor: pointer;
                        padding-right: 10px;

                        .anime {
                            display: flex;
                            flex-direction: column;
                            transition: all linear 0.3s;
                            overflow: hidden;

                            img {
                                display: inline-block;
                                width: 100%;
                                transition: all linear 0.3s;

                                &:hover {
                                    transform: scale(1.1);
                                }
                            }

                            span {
                                display: block;
                                color: #fff;
                                width: 100%;
                                text-align: center;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                padding-top: 0.5rem !important;
                                padding-bottom: 0.5rem !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .content-right {
        width: 30%;

        .content-right-title {
            line-height: 2rem;
            border-bottom: 1px solid gray;
            background-color: black;
        }

        .content-right-week {
            display: flex;
            justify-content: space-around;
            height: 2rem;
            line-height: 2rem;
            margin-top: 10px;

            li {
                width: 47.5px;
                text-align: center;
                cursor: pointer;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;

                &:hover {
                    background-color: red;
                    border: 1px solid gray;
                    border-bottom: none;
                }
            }

            .current {
                background-color: rgb(40, 40, 40);
                border: 1px solid gray;
                border-bottom: none;
            }
        }

        .list-item {
            display: flex;
            justify-content: space-between;
            line-height: 2rem;
            font-size: 1rem;
            border-bottom: 1px dashed #3c3f42;
            cursor: pointer;
            background-color: rgb(40, 40, 40);
            color: white;

            .list-item-name {
                color: white;

                &:hover {
                    text-decoration-line: underline;
                }
            }

            &:hover {
                background-color: red;
            }
        }
    }
}
