<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="${data.animeInfo.getName()+'- 傻瓜动漫网站'}"></title>
    <meta name="keywords" th:content="${data.animeInfo.getName()+'动漫分享'}">
    <meta name="description" th:content="${data.animeInfo.getName()+'！在线观看'}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link type="text/css" rel="stylesheet" th:href="@{{host}/css/common.css(host=${data.hostname})}">
    <link type="text/css" rel="stylesheet" th:href="@{{host}/css/detail.css(host=${data.hostname})}">
    <!-- overload -->
    <style type="text/css">
        .anime_icon1 {
            margin-right: 24px;
        }

        .anime_icon1 {
            width: 148px;
        }

        .anime_icon1 .anime_icon1_img {
            width: 148px;
            height: 205px;
        }
    </style>

    <script type="text/javascript" th:src="@{{host}/js/hm.js(host=${data.hostname})}"></script>
    <script type="text/javascript" th:src="@{{host}/js/detail.js(host=${data.hostname})}"></script>
    <script type="text/javascript" th:src="@{{host}/js/utils.js(host=${data.hostname})}"></script>
    <script type="text/javascript" th:src="@{{host}/js/history.js(host=${data.hostname})}"></script>
    <script type="text/javascript" th:src="@{{host}/js/age_playpre.js(host=${data.hostname})}"></script>
    <script type="text/javascript" th:src="@{{host}/js/snowfall.min.js(host=${data.hostname})}"></script>
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5.1.1/dist/echarts.min.js"></script>
</head>

<body>
<div id="root" style="z-index: 1">
    <div id="top" th:include="common/header :: top()"></div>
    <header id="nav" th:include="common/header :: commonHead('detail')"></header>
    <div id="container">

        <div id="new_tip1" th:include="common/header :: notification('play')"></div>
        <div class="div_left">
            <div class="baseblock">
                <div class="blockcontent">
                    <img referrerpolicy="no-referrer" class="poster" width="256px" height="356px"
                         th:src="${data.animeInfo.coverUrl}" th:alt="${data?.animeInfo?.name}"
                         alt="暂无" src="">
                </div>
            </div>
            <div class="baseblock">
                <div class="blockcontent">

                    <div class="baseblock2">
                        <div class="blocktitle detail_title1">基本信息：</div>
                        <ul class="blockcontent">
                            <li class="detail_imform_kv">
                                <span class="detail_imform_tag">地区：</span>
                                <span class="detail_imform_value" th:text="${data.animeInfo.district}">日本</span>
                                <a class="detail_imform_show_full"
                                   href="javascript:detail_show_full();">&lt;&lt;展开</a>
                            </li>
                            <li class="detail_imform_kv">
                                <span class="detail_imform_tag">动画种类：</span>
                                <span class="detail_imform_value" th:text="${data.animeInfo.type}">TV</span>
                            </li>
                            <li class="detail_imform_kv">
                                <span class="detail_imform_tag">原版名称：</span>
                                <span class="detail_imform_value"
                                      th:text="${data.animeInfo.getName()}">この素晴らしい世界に祝福を！</span>
                            </li>
                            <li class="detail_imform_kv">
                                <span class="detail_imform_tag">其它名称：</span>
                                <span class="detail_imform_value" th:text="${data.animeInfo.originalName}">暂无</span>
                            </li>
                            <li class="detail_imform_kv">
                                <span class="detail_imform_tag">原作：</span>
                                <span class="detail_imform_value" th:text="${data.animeInfo.author}">暂无</span>
                            </li>
                            <li class="detail_imform_kv">
                                <span class="detail_imform_tag">制作公司：</span>
                                <span class="detail_imform_value" th:text="${data.animeInfo.getCompany()}">Studio
                                        DEEN</span>
                            </li>
                            <li class="detail_imform_kv">
                                <span class="detail_imform_tag">首播时间：</span>
                                <span class="detail_imform_value"
                                      th:text="${data.animeInfo.getPremiereDate()}">2016-01-13</span>
                            </li>
                            <li class="detail_imform_kv">
                                <span class="detail_imform_tag">播放状态：</span>
                                <span class="detail_imform_value" th:text="${data.animeInfo.playStatus}">暂无</span>
                            </li>
                            <li class="detail_imform_kv">
                                <span class="detail_imform_tag">剧情类型：</span>
                                <span class="detail_imform_value" th:text="${data.animeInfo.getPlotType()}">搞笑 奇幻 冒险
                                        后宫</span>
                            </li>
                            <li class="detail_imform_kv">
                                <span class="detail_imform_tag">标签：</span>
                                <span class="detail_imform_value" th:text="${data.animeInfo.tags}">搞笑 奇幻 冒险 后宫 治愈 魔法
                                        轻小说 欢乐向</span>
                            </li>
                            <li class="detail_imform_kv">
                                <span class="detail_imform_tag">官方网站：</span>
                                <span class="detail_imform_value"
                                      th:text="${data.animeInfo.officialWebsite}">http://konosuba.com/</span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="baseblock">
                <div class="blockcontent">
                    <div class="baseblock2">
                        <div class="blocktitle detail_title1">相关动画：</div>
                        <ul class="blockcontent">

                            <li class="relates_series">
                                <a href="/detail/20170004">为美好的世界献上祝福！ 第二季</a>
                            </li>

                            <li class="relates_series">
                                <a href="/detail/20160084">为美好的世界献上祝福！OAD</a>
                            </li>

                            <li class="relates_series">
                                <a href="/detail/20180187">为美好的世界献上祝福！红传说</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="div_right">
            <div class="baseblock">
                <div class="blockcontent">
                    <h4 class="detail_imform_name" th:text="${data.animeInfo.name}">--</h4>
                </div>
            </div>
            <div class="blockline1" style="margin: 8px;"></div>
            <div class="baseblock">
                <div class="blockcontent">
                    <div class="detail_imform_desc_pre">
                        <p th:text="${data.animeInfo.getInstruction()}">暂无</p>
                    </div>
                </div>
            </div>
            <div class="blockline1" style="margin: 8px;"></div>
            <div id="playlist-div" class="baseblock">
                <div class="blocktitle">在线播放：</div>
                <ul class="menu0" id="menu0">
                    <li style="display: block"
                        th:each="listInfo,iterStat : ${data?.animeInfo?.playList}"
                        th:class="${iterStat.index == 0 ? 'on' : '' }"
                        th:text="${listInfo?.name}"
                        th:data-index="${iterStat.index}"
                        onclick="setTab(0,this.getAttribute('data-index'))">
                    </li>
                </ul>
                <div class="main0" id="main0">
                    <div class="movurl"
                         th:each="playList,status:${data.animeInfo.playList}"
                         th:style="${status.index == 0? 'display: block;':'display: none;'}">
                        <ul>
                            <li th:each="episode:${playList?.episodeList}">
                                <a th:href="@{/play/{animeId}(playid=${episode?.id},animeId=${data.animeInfo.id})}"
                                   target="_self"
                                   th:title="${episode.name}"
                                   th:text="${episode.name}">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                function setTab(m, n) {
                    const tli = document.getElementById("menu0").getElementsByTagName("li");
                    const mli = document.getElementById("main0").getElementsByTagName("div");
                    for (i = 0; i < tli.length; i++) {
                        tli[i].className = (i == n ? "on" : "");
                        mli[i].style.display = (i == n ? "block" : "none");
                        const pli_cnt = mli[i].getElementsByTagName("ul")[0].getElementsByTagName("li");
                        if (!pli_cnt.length) {
                            tli[i].style.display = 'block';
                        }
                    }
                }
            </script>

            <div class="blockline1" style="margin: 8px;"></div>
            <div id="wangpan-div" class="baseblock">
                <div class="blocktitle">网盘资源：</div>
                <div class="blockcontent">

                        <span class="res_links">
                            <a class="res_links_a" href="/link/20160083/0" target="_blank">[TV 01-10+OVA 720P]</a>
                            <span class="res_links_pswd_tag">(提取码:</span>
                            <span class="res_links_pswd">fe5e)</span></span>
                    <br>
                </div>
            </div>

            <div class="blockline1" style="margin: 8px;"></div>
            <div id="score" style="height:260px;"></div>
            <script type="text/javascript">
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('score'));
                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: '评分信息',
                    },
                    tooltip: {},
                    // legend: {
                    //     data: ['销量']
                    // },
                    xAxis: {
                        data: ["2021-01", "2021-02", "2021-03", "2021-04", "2021-05", "2021-06", "2021-07", "2021-08"]
                    },
                    yAxis: {},
                    series: [{
                        name: '评分',
                        type: 'bar',
                        data: [9.5, 9.5, 9.5, 9.5, 5.5, 9.5, 5.5, 9.5]
                    }]
                };

                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            </script>
            <div class="blockline1" style="margin: 8px;"></div>
            <div class="baseblock">
                <div class="blocktitle">反馈：</div>
                <div class="report_div">
                    <form id="report_form" action="/report" method="GET">
                        <div>
                            <input id="report_aid" type="hidden" name="cid" th:value="${data?.animeInfo?.id}">
                            <label>
                                <input type="checkbox" name="link_invalid" value="1">链接失效</label>
                            <label>
                                <input type="checkbox" name="bad_quality" value="1">资源质量差</label>
                            <label>
                                <input type="checkbox" name="some_missing" value="1">集数缺失</label>
                            <label>
                                <input type="checkbox" name="other" value="1">其他</label>
                            <input autocapitalize="off" autocomplete="off" name="detail" placeholder="请告诉我们详细情况~~"
                                   spellcheck="true">
                            <input class="nbutton" type="submit" value="提交">
                        </div>
                    </form>
                    <script>
                        const reportForm = $('#report_form');
                        reportForm.on('submit',
                            function () {
                                //阻止form表单默认提交
                                event.preventDefault();
                                $.ajax({
                                    type: "get",
                                    url: "/report?" + reportForm.serialize(),
                                }).success(function (message) {
                                    alert(message);
                                }).fail(function (err) {
                                    alert('未知错误');
                                });
                            });
                    </script>
                </div>
            </div>

            <!-- adv1 -->
            <!--            <script th:src="@{/js/age.js}"></script>-->
            <div class="blockline1" style="margin: 8px;"></div>
            <div class="baseblock">
                <div class="blockcontent">
                    <!-- switch -->
                    <div style="padding-left: 8px;">
                        <button class="switchbtn" id="btnrecommend" onclick="onbtnrecommend(this)">相关推荐</button>
                        <button class="switchbtn switchbtn_current" id="btncomment" onclick="onbtncomment(this)">留言板
                        </button>
                    </div>
                    <div id="recommend_block" class="switchblock" hidden="">
                        <ul class="ul_li_a4">
                            <li class="anime_icon1">
                                <a href="/detail/20160111">
                                    <img referrerpolicy="no-referrer" class="anime_icon1_img" width="148"
                                         height="205"
                                         src="https://sc02.alicdn.com/kf/H3e0ebe3098c345e9af4d0a68fc601667H.jpg"
                                         data-src="https://sc02.alicdn.com/kf/H3e0ebe3098c345e9af4d0a68fc601667H.jpg"></a>
                                <a href="/detail/20160111">
                                    <div class="anime_icon1_name">伤物语</div>
                                </a>
                            </li>
                            <li class="anime_icon1" th:each="anime:${data.relevant}">
                                <a th:href="@{/detail/{animeId}(animeId=${anime.id})}">
                                    <img referrerpolicy="no-referrer" class="anime_icon1_img" width="148"
                                         height="205" th:src="${anime.coverUrl}" th:data-src="${anime.coverUrl}"></a>
                                <a th:href="@{/detail/{animeId}(animeId=${anime.id})}">
                                    <div class="anime_icon1_name" th:text="${anime.name}"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="comments_block" class="switchblock">

                        <form id="comment_form" action="javascript:void(0)" method="GET">
                            <div>
                                <input id="comment_id" type="hidden" name="cid" th:value="${data?.animeInfo?.id}">
                                <label for="comment_content"></label>
                                <textarea id="comment_content" wrap="SOFT" spellcheck="false" autocapitalize="off"
                                          autocomplete="off" placeholder="说点什么吧"
                                          name="comment_content"
                                          maxlength="255"
                                          tid="20180132"
                                          csrf_token="kqYFPKw9DOko88jkfLKSATbDkz6ipQBD9pYXLohUtVGXpMhQPdkP7lyYGDwiNifm"></textarea>
                                <label class="comment_imform_tag" for="comment_user">昵称：</label>
                                <input readonly id="comment_user"
                                       name="comment_user" wrap="SOFT"
                                       spellcheck="false" autocapitalize="off"
                                       autocomplete="off"
                                       placeholder="名字" value="游客">
                                <input class="nbutton" type="submit" name="">
                            </div>
                            <script>
                                __set_on_sendcomment();
                            </script>
                        </form>

                        <!-- 评论列表 -->
                        <ul id="comment_list" style="margin-top: 16px;">
                            <li class="comment" th:each="comment:${data?.comments?.records}">
                                <hr class="hrspace2">
                                <div class="comment_cell_user" th:text="${comment?.username}">评论者用户名</div>
                                <div class="comment_cell_content">
                                    <div th:text="${comment?.content}">评论内容</div>
                                    <div class="comment_cell_time asciifont" th:text="${comment?.createTime}">
                                        2020-09-07 16:41:46
                                    </div>
                                </div>
                            </li>
                            <hr class="hrspace2">
                            <div id="current_comment_page"></div>
                        </ul>

                        <!-- 评论翻页 -->
                        <div class="spaceblock1"></div>
                        <ul class="comment_page">
                            <li><a href="javascript:void(0)"
                                   th:class="${data?.comments?.current == 1 ?'pbutton asciifont pbutton_current':'pbutton asciifont'}"
                                   th:data-cid="${data?.animeInfo?.id}"
                                   th:data-pages="${data?.comments?.getPages()}"
                                   th:data-size="${data?.comments?.size}"
                                   th:onclick="${data.comments.current==1}"
                                   onclick="__s_show_comments_page(this.getAttribute('data-cid'),1,this.getAttribute('data-size'))">首页</a>
                            </li>

                            <li th:each="index : ${#numbers.sequence(1,data?.comments?.pages)}">
                                <a class="pbutton  asciifont" href="javascript:void(0)"
                                   th:if="${(index - data?.comments?.current)<3 &&(index - data?.comments?.current)>-3}"
                                   th:class="${data?.comments?.current == index ?'pbutton asciifont pbutton_current':'pbutton asciifont'}"
                                   th:data-cid="${data?.animeInfo?.id}"
                                   th:data-pages="${data?.comments?.getPages()}"
                                   th:data-page-size="${data?.comments?.size}"
                                   onclick="__s_show_comments_page(this.getAttribute('data-cid'),this.getAttribute('data-pages'),10)"
                                   th:text="${index}">
                                </a>
                            </li>

                            <li th:each="index : ${#numbers.sequence(1,data?.comments?.pages)}">
                                <a class="pbutton  asciifont" href="javascript:void(0)"
                                   th:if="${(index - data?.comments?.current)<3 &&(index - data?.comments?.current)>-3}"
                                   th:class="${data?.comments?.current == index ?'pbutton asciifont pbutton_current':'pbutton asciifont'}"
                                   th:data-cid="${data?.animeInfo?.id}"
                                   th:data-pages="${data?.comments?.getPages()}"
                                   th:data-page-size="${data?.comments?.size}"
                                   onclick="__s_show_comments_page(this.getAttribute('data-cid'),this.getAttribute('data-pages'),10)"
                                   th:text="下一页">
                                </a>
                            </li>

                            <li><a href="javascript:void(0)"
                                   th:class="${data?.comments?.current == data?.comments?.pages ?'pbutton asciifont pbutton_current':'pbutton asciifont'}"
                                   th:data-cid="${data?.animeInfo?.id}"
                                   th:data-pages="${data?.comments?.getPages()}"
                                   th:data-page-size="${data?.comments?.size}"
                                   onclick="__s_show_comments_page(this.getAttribute('data-cid'),this.getAttribute('data-pages'),10)">尾页</a>
                            </li>
                        </ul>
                    </div>
                    <script type="text/javascript">
                        /**
                         * 获取评论信息
                         * @param _in_cid
                         * @param pageindex
                         * @param pagesize
                         * @private
                         */
                        function __s_show_comments_page(_in_cid, pageindex, pagesize) {
                            const requestUrl = "/get_comments?" + ('cid=' + _in_cid) + ('&pageSize=' + pagesize) + ('&pageIndex=' + pageindex);
                            $.ajax({type: "get", url: requestUrl,})
                                .success(function (message) {
                                    const _json_obj = JSON.parse(message);
                                    html_fmt_comments_lis(_json_obj)
                                })
                                .fail(function (err) {
                                    alert('__s_show_comments_page failed')
                                })
                        }

                        function html_fmt_comments_lis(_json_obj) {
                            const _comments = _json_obj['comments'];
                            const html_pageurls = _json_obj['html_pageurls'];
                            var html_comment_lis = '';
                            for (var i = 0; i < _comments.length; i++) {
                                const comment_dict = _comments[i];
                                const _sid = comment_dict['sid'];
                                var _content_val = comment_dict['content'];
                                _content_val = _content_val.replace(/\</g, '&lt;');
                                _content_val = _content_val.replace(/\>/g, '&gt;');
                                _content_val = __content_img_on(_content_val);
                                const _time = __timeCycle(Number(comment_dict['time']));
                                var _username = comment_dict['username'];
                                _username = _username.replace(/\</g, '&lt;');
                                _username = _username.replace(/\>/g, '&gt;');
                                var html_li = '<li class="comment">';
                                html_li += '<hr class="hrspace2">';
                                html_li += ('<div class="comment_cell_user">' + _username + '</div>');
                                html_li += '<div class="comment_cell_content">';
                                html_li += ('<div>' + _content_val + '</div>');
                                html_li += ('<div class="comment_cell_time asciifont">' + _time + '</div>');
                                html_li += '</div>';
                                html_li += '</li>';
                                html_comment_lis += html_li
                            }
                            html_comment_lis += '<hr class="hrspace2">';
                            html_comment_lis += '<div id="current_comment_page" page=""></div>';
                            $('#comment_list').html(html_comment_lis);
                            $('.comment_page').html(html_pageurls)
                        }
                    </script>

                    <!-- switch logic -->
                    <script type="text/javascript">var hash = window.location.hash;
                    if (hash === '#btncomment') {
                        onbtncomment();
                    } else if (hash === '#btnrecommend') {
                        onbtnrecommend();
                    } else {
                        if (Math.random() > 0.5) {
                            onbtnrecommend();
                        } else {
                            onbtncomment();
                        }
                    }</script>
                </div>
            </div>
        </div>
        <!-- end div_right -->
    </div>
    <!-- end content -->
    <footer id="footer" th:include="common/header :: footer()"></footer>
</div>

<script>
    //调用飘落函数 实现飘落效果
    $(".bg_box").snowfall({
        image: ["/img/common/kanzaki1.png"],
        flakeCount: 20,
        minSize: 10,
        maxSize: 60,
        maxSpeed: 2,
        shadow: false
    });
</script>
<script>var _hmt = _hmt || [];
(function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?7fdef555dc32f7d31fadd14999021b7b";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();
</script>
</body>

</html>