<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>在线动画 动漫下载 - WAGGA动漫</title>
    <meta name="keywords" content="在线动画,动漫下载,AGE动漫,Agefans">
    <meta name="description" content="AGE动漫专注于资源收集整理 海量的有效的高质量的动漫资源下载 动漫百度网盘下载">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link type="text/css" rel="stylesheet" th:href="@{{host}/css/common.css(host=${data.hostname})}">
    <link type="text/css" rel="stylesheet" th:href="@{{host}/css/index.css(host=${data.hostname})}">
    <script type="text/javascript" th:src="@{{host}/js/petite-vue.js(host=${data.hostname})}" defer init></script>
    <script type="text/javascript" th:src="@{{host}/js/history.js(host=${data.hostname})}"></script>
</head>

<body>
    <div id="root" v-scope="{ count: 1 }">
        <div id="top" th:include="common/header :: top()"></div>
        <header id="nav" th:include="common/header :: commonHead('index')"></header>
        <div id="container">
            <div id="new_tip1" th:include="common/header :: notification('www.chenyunlong.cn')"></div>
            <div class="div_right baseblock">
                <div class="blocktitle">每周放送列表</div>
                <div class="blockcontent">
                    <ul id="new_anime_btns">
                        <li id="new_anime_page_btn_1" class="new_anime_btn highlighttag"
                            :class="{new_anime_btn_current: count==1}" @click="count=1">周一
                        </li>
                        <li id="new_anime_page_btn_2" class="new_anime_btn  highlighttag"
                            :class="{new_anime_btn_current: count==2}" @click="count=2">周二
                        </li>
                        <li id="new_anime_page_btn_3" class="new_anime_btn  highlighttag"
                            :class="{new_anime_btn_current: count==3}" @click="count=3">周三
                        </li>
                        <li id="new_anime_page_btn_4" class="new_anime_btn  highlighttag"
                            :class="{new_anime_btn_current: count==4}" @click="count=4">周四
                        </li>
                        <li id="new_anime_page_btn_5" class="new_anime_btn  highlighttag"
                            :class="{new_anime_btn_current: count==5}" @click="count=5">周五
                        </li>
                        <li id="new_anime_page_btn_6" class="new_anime_btn highlighttag"
                            :class="{new_anime_btn_current: count==6}" @click="count=6">周六
                        </li>
                        <li id="new_anime_page_btn_0" class="new_anime_btn  highlighttag"
                            :class="{new_anime_btn_current: count==7}" @click="count=7">周日
                        </li>
                    </ul>

                    <ul id="new_anime_page" th:each="entry:${data.recentMap.entrySet()}"
                        th:attr="v-if=${entry.key +'== count'}">
                        <li class="one_new_anime" th:each="anime,iter : ${entry.value}">
                            <a class="one_new_anime_name" th:href="@{'/detail/'+${anime.id}+'/index.html'}"
                                th:text="${anime.name}"></a>
                            <a class="one_new_anime_ji" th:href="@{'/detail/'+${anime.id}+'/index.html'}"
                                th:text="${anime.premiereDate}"></a>
                            <div class="one_anime_new" th:attr="v-if=${!anime.isNew}">new!</div>
                        </li>
                    </ul>
                </div>
                <hr class="hrspace clear" style="width: 95%;">
                <div class="blocktitle">最近更新</div>
                <div class="blockcontent">
                    <ul id="anime_update">
                        <li class="one_new_anime" th:each="anime : ${data.recentList}">
                            <a th:href="@{'/detail/'+${anime.id}+'/index.html'}" href="" class="one_new_anime_name"
                                style="width: 220px;" th:text="${anime.name}"></a>
                            <span class="anime_update_date asciifont" style="margin-left: 12px;"
                                th:text="${anime.premiereDate}"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="div_left baseblock">
                <div class="blocktitle">
                    <a href="recommend">每日推荐</a>
                </div>
                <div class="blockcontent">
                    <ul class="ul_li_a5">
                        <li class="anime_icon1" th:each="anime:${data.recommendList}">
                            <a th:href="@{'/detail/'+${anime.id}+'/index.html'}">
                                <img referrerpolicy="no-referrer" width="120px" height="165px" class="anime_icon1_img"
                                    th:src="@{{coverUrl}(coverUrl=${anime.coverUrl})}" th:alt="${anime.name}"
                                    th:title="${'[TV 01-12]'}" th:alt-title="${anime.name}" loading="lazy" alt="">
                                <span class="anime_icon1_name1" th:text="${'[TV 01-12]'}">[TV 01-12]</span></a>
                            <a class="anime_icon1_name_a" th:href="@{'detail/'+${anime.id}+'/index.html'}">
                                <div class="anime_icon1_name" th:text="${anime.name}"></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <hr class="hrspace clear" style="width: 98%;">
                <div class="blocktitle">
                    <a href="update">最近更新</a>
                </div>
                <div class="blockcontent">
                    <ul class="ul_li_a5">
                        <li class="anime_icon1" th:each="anime:${data.recentList}">
                            <a th:href="@{'/detail/'+${anime.id}+'/index.html'}">
                                <img referrerpolicy="no-referrer" width="120px" height="165px" class="anime_icon1_img"
                                    th:src="@{{coverUrl}(coverUrl=${anime.coverUrl})}" th:alt="${anime.name}"
                                    th:title="${'[TV 01-12]'}" loading="lazy" alt="/img/empty.png">
                                <span class="anime_icon1_name1" th:text="${'[TV 01-12]'}">[TV 01-12]</span></a>
                            <a class="anime_icon1_name_a" th:href="@{'detail/'+${anime.id}+'/index.html'}">
                                <div class="anime_icon1_name" th:text="${anime.name}"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <footer id="footer" th:include="common/header :: footer()"></footer>
    </div>
</body>

</html>