/*top ==== ==== ==== ==== ==== ==== ==== ==== */

@import url(../../assets/css/common/base.css);

.header-wrapper {
  box-sizing: border-box;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 1rem 1rem 1rem 1rem;
}

.brand-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user-wrapper {
  /*float: right;*/
  width: 50px;
}

.item-btn {
  background-color: black;
}

/*nav ==== ==== ==== ==== ==== ==== ==== ==== */

.nav {
  height: 56px;
  background-color: #292929;
  margin: auto;
}

.nav .nav_button {
  box-sizing: border-box;
  display: inline-block;
  height: 56px;
  line-height: 56px;
  padding: 0;
  margin: 0 10px;
  font-size: 1.2em;
  text-decoration: none;
  border-top-left-radius: 1px;
  border-top-right-radius: 2px;
  color: white;
}

.nav .nav_button:hover,
.nav .nav_button:active {
  background-color: #303030;
  color: red;
}

.nav_button_current {
  background-color: #303030;
  color: red;
  position: relative;
}

.nav_button_current::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1rem;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: red;

}

.search_form {
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  border: 1px solid #404041;
  border-radius: 1px;
  vertical-align: middle;
  background-color: #212122;
}

.search_input {
  font-size: 1em;
  border: none;
  box-sizing: border-box;
  height: 38px;
  line-height: 38px;
  width: 160px;
  padding: 0 6px;
  background-color: transparent;
  outline: none;
}

.search_input_ex {
  width: 200px;
}

.search_submit {
  float: right;
  box-sizing: border-box;
  width: 32px;
  height: 38px;
  background: url("../img/search.png") no-repeat 6px 9px;
  border: none;
  background-size: 20px 20px;
  text-align: center;
}

#header-wrapper_search_from {
  float: right;
  margin: 8px 8px;
}
