<?xml version="1.0" encoding="UTF-8" ?>

<!--
  ~ Copyright (c) 2019-2022 YunLong Chen
  ~ Project Qing is licensed under Mulan PSL v2.
  ~ You can use this software according to the terms and conditions of the Mulan PSL v2.
  ~ You may obtain a copy of Mulan PSL v2 at:
  ~          http://license.coscl.org.cn/MulanPSL2
  ~ THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND,
  ~ EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT,
  ~ MERCHANTABILITY OR FIT FOR A PARTICULAR PURPOSE.
  ~ See the Mulan PSL v2 for more details.
  ~
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.chenyunlong.qing.domain.activity.mapper.ActivityMapper">


    <resultMap id="BaseResultMap" type="cn.chenyunlong.qing.domain.activity.ActivityEntity">
        <id column="activity_id" property="activityId"/>
        <result column="activity_name" property="activityName"/>
    </resultMap>

    <select id="getActivityList" resultMap="BaseResultMap">
        SELECT activity_id, activity_name
        FROM activity
    </select>


    <select id="getActivityById" resultMap="BaseResultMap" parameterType="long">
        select activity_id, activity_name
        from activity
        where activity_id = #{activityId}
    </select>

    <insert id="insert" parameterType="cn.chenyunlong.qing.domain.activity.ActivityEntity">
        insert into activity(activity_name)
        values (#{activityName})
    </insert>
</mapper>
