<?xml version="1.0" encoding="UTF-8" ?>

<!--
  ~ Copyright (c) 2019-2022 YunLong Chen
  ~ Project Qing is licensed under Mulan PSL v2.
  ~ You can use this software according to the terms and conditions of the Mulan PSL v2.
  ~ You may obtain a copy of Mulan PSL v2 at:
  ~          http://license.coscl.org.cn/MulanPSL2
  ~ THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND,
  ~ EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT,
  ~ MERCHANTABILITY OR FIT FOR A PARTICULAR PURPOSE.
  ~ See the Mulan PSL v2 for more details.
  ~
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.chenyunlong.qing.mapper.AnimeInfoMapper">

    <resultMap id="BaseResultMap" type="cn.chenyunlong.qing.model.entities.anime.AnimeInfo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="district_name" property="districtName"/>
        <result column="cover_url" property="coverUrl"/>
        <result column="type_id" property="typeId"/>
        <result column="type_name" property="typeName"/>
        <result column="instruction" property="instruction"/>
        <result column="other_name" property="otherName"/>
        <result column="author" property="author"/>
        <result column="company" property="company"/>
        <result column="premiere_date" property="premiereDate"/>
        <result column="play_status" property="playStatus"/>
        <result column="plot_type" property="plotType"/>
        <result column="tags" property="tags"/>
        <result column="official_website" property="officialWebsite"/>
        <result column="play_heat" property="playHeat"/>
        <result column="original_name" property="originalName"/>
    </resultMap>
    <update id="update">
        update anime_info
        set name = #{name}
        where anime_info.id = #{id}
    </update>

    <select id="listAnime" resultMap="BaseResultMap" parameterType="cn.chenyunlong.qing.model.params.AnimeInfoQuery">
        SELECT `id`,
        `name`,
        `district_name`,
        `cover_url`,
        `type_name`,
        `instruction`,
        `other_name`,
        `author`,
        `company`,
        `premiere_date`,
        `play_status`,
        `plot_type`,
        `tags`,
        `official_website`,
        `play_heat`,
        `original_name`
        FROM anime_info
        <where>
            <if test="(query.keyword != null) and (query.keyword != '')">
                and name like concat('%',#{query.keyword},'%')
            </if>
            <if test="(query.district != null) and (query.keyword != '') and (query.keyword != 'all')">
                and name like concat('%',#{query.keyword},'%')
            </if>
            <if test="(query.year != null) and (query.year != '') (query.year != 'all')">
                and premiere_date > #{query.startYear} and premiere_date &lt; #{query.endYear}
            </if>
            <if test="(query.version != null) and (query.version != '') and (query.version != 'all')">
                and type = #{query.version}
            </if>
            <if test="(query.status != null) and (query.status != '') and (query.status != 'all')">
                and play_status = #{query.status}
            </if>
            <if test="(query.type != null) and (query.type != '') and (query.type != 'all')">
                and tags like concat('%',#{query.type},'%')
            </if>
        </where>
        <if test="query.sort!= null and query.sort!=''">
            order by #{query.sort}
        </if>
        limit #{page.offset} ,#{page.pageSize}
    </select>

    <select id="selectAnimationDetail" resultMap="BaseResultMap">
        SELECT `id`,
               `name`,
               district_name,
               `cover_url`,
               `type_id`
                   `type_name`,
               `instruction`,
               `other_name`,
               `author`,
               `company`,
               `premiere_date`,
               `play_status`,
               `plot_type`,
               `tags`,
               `official_website`,
               `play_heat`,
               `original_name`
        FROM anime_info
        where id = #{movieId}
    </select>

    <select id="count" resultType="long" parameterType="cn.chenyunlong.qing.model.params.AnimeInfoQuery">
        select count(1)
        FROM anime_info
        <where>
            <if test="(query.keyword != null) and (query.keyword != '')">
                and name like concat('%',#{query.keyword},'%')
            </if>
            <if test="(query.district != null) and (query.keyword != '') and (query.keyword != 'all')">
                and name like concat('%',#{query.keyword},'%')
            </if>
            <if test="(query.year != null) and (query.year != '') (query.year != 'all')">
                and premiere_date > #{query.startYear} and premiere_date &lt; #{query.endYear}
            </if>
            <if test="(query.version != null) and (query.version != '') and (query.version != 'all')">
                and type = #{query.version}
            </if>
            <if test="(query.status != null) and (query.status != '') and (query.status != 'all')">
                and play_status = #{query.status}
            </if>
            <if test="(query.type != null) and (query.type != '') and (query.type != 'all')">
                and tags like concat('%',#{query.type},'%')
            </if>
        </where>
    </select>
    <select id="selectAnimationW" resultMap="BaseResultMap">
        SELECT `id`,
        `name`,
        district_name,
        `cover_url`,
        type_name,
        `instruction`,
        `other_name`,
        `author`,
        `company`,
        `premiere_date`,
        `play_status`,
        `plot_type`,
        `tags`,
        `official_website`,
        `play_heat`,
        `original_name`
        FROM anime_info
        <where>
            <if test="anime.keyword!=null and anime.keyword!=''">
                anime_info.name like concat('%', #{anime.keyword}, '%') or other_name like concat('%',
                #{anime.keyword},'%')
            </if>
            <if test="anime.name!=null and anime.name!=''">
                and name like concat('%', #{anime.name}, '%')
            </if>
        </where>
        limit #{offset},#{pageSize}
    </select>
    <select id="countByNameLike" resultType="java.lang.Long">
        select COUNT(name)
        from anime_info
        where name like concat('%', #{name}, '%')
    </select>
    <select id="getUpdateAnimeCount" resultType="java.lang.Long">
        SELECT count(1)
        FROM anime_info
        where play_status = '连载'
    </select>
    <select id="selectAnimeByUpdateTime" resultMap="BaseResultMap">
        SELECT `id`,
               `name`,
               district_name,
               `cover_url`,
               type_name,
               `instruction`,
               `other_name`,
               `author`,
               `company`,
               `premiere_date`,
               `play_status`,
               `plot_type`,
               `tags`,
               `official_website`,
               `play_heat`,
               `original_name`
        FROM anime_info
        where play_status = '连载'
        order by premiere_date desc
        limit #{pageRequest.offset} ,#{pageRequest.pageSize}

    </select>
    <select id="selectEarliestyear" resultType="java.time.LocalDate">
        SELECT min(`premiere_date`)
        FROM anime_info
        where !isnull(premiere_date)
    </select>
    <select id="listRecommendAnimeInfo" resultMap="BaseResultMap">
        SELECT anime.id,
               `name`,
               `district_name`,
               `cover_url`,
               `type_name`,
               `instruction`,
               `other_name`,
               `author`,
               `company`,
               `premiere_date`,
               `play_status`,
               `plot_type`,
               `tags`,
               `official_website`,
               `play_heat`,
               `original_name`
        FROM anime_recommend
                 left join anime_info anime on anime_recommend.aid = anime.id
        order by anime_recommend.order_no
    </select>

    <insert id="insert">
        INSERT INTO `zhangli`.`anime_info`
        (`id`,
         `name`,
         district_name,
         `cover_url`,
         type_name,
         `instruction`,
         `other_name`,
         `author`,
         `company`,
         `premiere_date`,
         `play_status`,
         `plot_type`,
         `tags`,
         `official_website`,
         `play_heat`,
         original_name)
        values (#{anime.id}, #{anime.name}, #{anime.district}, #{anime.coverUrl}, #{anime.type},
                #{anime.instruction}, #{anime.otherName}, #{anime.author}, #{anime.company}, #{anime.premiereDate},
                #{anime.playStatus}, #{anime.plotType}, #{anime.tags}, #{anime.officialWebsite}, #{anime.playHeat},
                #{anime.orignalName})

    </insert>
</mapper>
