<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019-2022 YunLong Chen
  ~ Project Qing is licensed under Mulan PSL v2.
  ~ You can use this software according to the terms and conditions of the Mulan PSL v2.
  ~ You may obtain a copy of Mulan PSL v2 at:
  ~          http://license.coscl.org.cn/MulanPSL2
  ~ THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND,
  ~ EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT,
  ~ MERCHANTABILITY OR FIT FOR A PARTICULAR PURPOSE.
  ~ See the Mulan PSL v2 for more details.
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenyunlong.qing.mapper.AnimeEpisodeMapper">
    <resultMap id="BaseResultMap" type="cn.chenyunlong.qing.domain.anime.AnimeEpisodeEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result column="uploader_name" property="uploaderName"/>
        <result column="uploader_id" property="uploaderId"/>
        <result column="url" property="url"/>
        <result column="order_no" property="orderNo"/>
    </resultMap>

    <resultMap id="DTOResultMap" type="cn.chenyunlong.qing.model.dto.AnimeEpisodeDTO">
        <id column="id" property="id"/>
        <result column="anime_id" property="animeId"/>
        <result column="playlist_id" property="playlistId"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result column="uploader_name" property="uploaderName"/>
        <result column="uploader_id" property="uploaderId"/>
        <result column="url" property="url"/>
        <result column="order_no" property="orderNo"/>
    </resultMap>

    <select id="listEpisodeByAnimeId" resultMap="DTOResultMap">
        select `episode`.id         as `id`,
               `anime_id`,
               `list`.id            as `playlist_id`,
               `episode`.name       as `name`,
               `uploader_name`      as `uploader_name`,
               `uploader_id`        as `uploader_id`,
               `url`                as `url`,
               `episode`.`order_no` as `order_no`,
               `status`
        from `anime_playlist` as `list`
                 left join `anime_list_episode` ale on list.id = ale.list_id
                 left join anime_episode episode on ale.episode_id = episode.id
            ${ew.customSqlSegment}
    </select>

</mapper>
